# Maven
target/

# Javadoc (wygenerowane)
index.html
allclasses-*
allpackages-*
overview-*
package-*
help-doc.html
element-list
serialized-form.html
search*.js
jquery*.js
stylesheet.css
tag-search-index.js
type-search-index.js
member-search-index.js

# IDE
.idea/
*.iml
